.vs/
Practice Apps/PracticeApp06/PracticeApp06/bin
Practice Apps/PracticeApp06/PracticeApp06/obj
Practice Apps/PracticeApp07 - Interfaces/PracticeApp07 - Interfaces/obj
Practice Apps/PracticeApp07 - Interfaces/PracticeApp07 - Interfaces/bin
Practice Apps/PracticeApp10/PracticeApp10/bin
Practice Apps/PracticeApp10/PracticeApp10/obj
